// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #283653;
$font-size: 40px;

// ----------------------------------------------------------------------------
// Widget-image styles
// ----------------------------------------------------------------------------
.widget-image {
  background-color: $background-color;
  vertical-align: top;

  .top-image {
    margin-top: -70px;
    width: 150px;
  }

  p {
    font-size: $font-size;
  }
}
