<script type='text/javascript'>
  $(function() {
    Dashing.widget_base_dimensions = [410, 370];
    Dashing.numColumns = 5
  });
</script>

<% content_for :title do %>NoisePage Dashboard<% end %>
<div class="gridster">
  <ul>
    <%# Logo %>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image0="/cmu-db-group-dark.svg" data-image1="/noisepage-full.png"></div>
    </li>
    <%# Travis %>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="travis" data-server="Travis" data-view="BuildWindow" </div>
    </li>
    <%# Jenkins %>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="jenkins" data-server="Jenkins" data-view="BuildWindow" </div>
    </li>
    <%# Coverage Line Chart %>
    <li data-row="2" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="coverage_line_chart" data-view ="LineChartCoverage" data-title="Test Code Coverage" data-moreinfo=""></div>
    </li>
    <%# TPCC Line Chart %>
    <li data-row="3" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="tpcc_line_chart" data-view ="LineChart" data-title="TPC-C (SF4 + Logging)" data-moreinfo=""></div>
    </li>
    <%# Leaderboard %>
    <li data-row="1" data-col="4" data-sizex="2" data-sizey="2">
      <div 
        data-id="leaderboard" 
        data-view="Leaderboard" 
        data-title="Commits Leaderboard"
        data-unordered="true"
      </div>
    </li>
  </ul>
</div>
